/**************** normal tags*****************/
body {
    background-color: rgb(123, 7, 201);
    text-align: center;
    margin: 0;
    padding: 0;
}
ul {
    width: auto;
    float: right;
    margin-top: 8px;
}
li {
    display: inline-block;
    padding: 20px 20px 8px;
}
a {
    text-decoration: none;
    color:rgb(208, 158, 255);
    font-size: 2rem;
    text-align: center;
}
a:hover {
    color:rgb(80, 2, 133);
}


/**************** classes ******************/
.white {
    background-color: white;
    height: 400px;
    width: 50px;
    top: 10px;
    padding-top: 300px;
}
.black {
    background-color: black;
    color: white;
    height: 250px;
    width: 35px;
    top: 10px;
    padding-top: 140px;
}
.key {
    position: absolute;
    display: inline-block;
    font-size: 20px;
}
.navbar {
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(146, 61, 224);
}
nav-item {
    display: inline-block;
    position: absolute;
}
.profile-pic {
    height: 100px;
}
.white-pressed {
    background-color: rgb(204, 204, 190);
}
.black-pressed {
    background-color: rgb(90, 90, 90);
}
.octave {
    font-size: 0px;
}

.footer {
    background-color: rgb(146, 61, 224);
    width: 100%;
    height: 50px;
    text-align: left;
}


/****************    ids    ******************/
#keyboard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 420px;
    width: 785px;
    background-color: black;
    
}
#c {
    left: 10px
}
#d {
    left: 65px;
}
#e {
    left: 120px;
}
#f {
    left: 175px;
} 
#g {
    left: 230px;
}
#a {
    left: 285px;
}
#b {
    left: 340px;
}

#c3 {
    left: 395px
}
#d3{
    left: 450px;
}
#e3 {
    left: 505px;
}
#f3 {
    left: 560px;
} 
#g3 {
    left: 615px;
}
#a3 {
    left: 670px;
}
#b3 {
    left: 725px;
}

     

/*************** black keys ***************/
#cs {
    left: 40px;
}
#ds {
    left: 98px;
}
#fs {
    left: 205px;
}
#gs {
    left: 263px;
}
#as {
    left: 320px;
}

#cs3 {
    left: 435px;
}
#ds3 {
    left: 483px;
}
#fs3 {
    left: 590px;
}
#gs3 {
    left: 648px;
}
#as3 {
    left: 705px;
}